
        <section id="viewCatalog" class="background-img">
        {{#if products}}
        {{#each products}}
            <div class="added-electronics">
                <a href="/electronics/details/{{_id}}" class="added-electronics-in-market">
                    <img src="{{image}}" class="picture-added-electronics">
                    <h3>{{name}}</h3>
                    <span>Price: ${{price}}</span>
                </a>
            </div>
        {{/each}}
        {{else}}
          <div class="guest">
                There are no electronics found...
            </div> 
        {{/if}}

        </section>

